{if !empty($fancybox)}
    <script type="text/javascript" src="{$wa_app_static_url}plugins/texture/js/fancybox/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="{$wa_app_static_url}plugins/texture/js/fancybox/jquery.fancybox.css" media="screen">
{/if}
<link rel="stylesheet" type="text/css" href="{$texture_css_url}">
<script type="text/javascript">
    var texture_features = {json_encode(array_keys($textures))};
</script>
<script type="text/javascript" src="{$texture_js_url}"></script>

{foreach $textures as $feature_id => $feature_values}
    {if !empty($product.features_selectable[$feature_id])}
        {$feature = $product.features_selectable[$feature_id]}
        <div class="option-item">
            <span class="option-name">{$feature.name}</span><br />
            <div class="feature-{$feature.id}">
                <a class="texture-selector" href="#inline-{$feature.id}">
                    <table>
                        {foreach $feature_values as $value_id => $feature_value}
                            {if $value_id == $product.sku_features[$feature_id]|default:''}
                                <tr>
                                    <td class="texture_view">
                                        <img src="{$image_url}{$feature_value.img}" alt="{$feature.name|escape}: {$feature.values[$value_id]|strip_tags|escape}"/>
                                    </td>
                                    <td class="name_texture">
                                        {$feature.values[$value_id]|strip_tags}
                                    </td>
                                    <td class="selected"><span class="arrow"><b></b></span></td>
                                </tr>
                            {/if}
                        {/foreach}
                    </table>
                </a>
                <div style="display:none;">
                    <div class="texture-select-box" id="inline-{$feature.id}">
                        <h4 class="texture">{$feature.name}</h4>
                        <div class="features_texture_img"></div>
                        <div class="name_features">{$feature.name}</div>
                        <div class="inline-select">
                            {foreach $feature_values as $value_id => $feature_value}
                                <a data-value-id="{$value_id}" href="#"{if $value_id == $product.sku_features[$feature_id]|default:''} class="active"{/if} >
                                    <div class="texture_view">
                                        <img src="{$image_url}{$feature_value.img}" alt="{$feature.name|escape}: {$feature.values[$value_id]|strip_tags|escape}"/>
                                    </div>
                                    <span class="name_texture">{$feature.values[$value_id]|strip_tags}</span>
                                </a>
                            {/foreach}
                        </div>
                        <button class="button button_texture" data-feature-id="{$feature.id}"><span>Выбрать</span></button>
                    </div> 
                </div>
            </div>
        </div>
    {/if}
{/foreach}